<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Lucasian | Joan Romero</title>
    <link rel="stylesheet" type="text/css" href="#{generalVista.url}/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</h:head>

<h:body>
	<section id="main">
	    <header>
	        <div id="content-header">
				<ui:insert name="header">
					<ui:include src="/WEB-INF/facelets/header.jspx" />
					<ui:include src="/WEB-INF/facelets/menu.jspx" />
				</ui:insert>
			</div>
        </header>
        <section>
            <article>
                <div id="content-forms">
	                <ui:insert name="body" />
		        </div>
            </article>
        </section>
		<footer>
		    <ui:insert name="footer">
                <ui:include src="/WEB-INF/facelets/footer.jspx" />
            </ui:insert>
		</footer>
	</section>
</h:body>
</html>