body {
    background: #EBEBEB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

header {
    background: #000000;
    height: 80px;
    left: 0;
    margin: 0;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.35);
    box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.35);
}

article {
    display: flex;
    justify-content: space-around;  
}

h1 {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

#content-header {
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
}

#content-title {
    max-width: 900px;
    font-size: 28px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

#content-forms {
    margin: 90px 0 0 0;
    max-width: 900px;
    width: 100%;
}

#form-title {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

#container {
    width: 1024px;
    padding: 0px;
    margin: 10px auto;
    overflow: auto;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #FFF;
    width: 100%;
    left: -1px;
    padding: 5px;
    -webkit-box-shadow: 0px -2px 7px -3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px -2px 7px -3px rgba(0,0,0,0.35);
    box-shadow: 0px -2px 7px -3px rgba(0,0,0,0.35);
    height: 30px;
}

.botonera {
    display: grid;
    grid-template-areas: "a b c" "d e f";
    column-gap: 5px;
    row-gap: 10px;
}

/* Responsive */

@media screen and (min-width: 800px) {
    .botonera {
        display: block;
        grid-template-areas: unset;
        column-gap: unset;
        row-gap: unset;
    }
}

@media screen and (min-width: 480px) {
    .ui-col-lab {
        width: 100px;
    }
    
    .ui-col-2c {
        width: calc(100% - 100px);
        align-items: center;
    }
    
    .ui-col-4c {
        width: calc(50% - 100px);
        align-items: center;
    }
    
    .ui-col-6c {
        width: calc(33% - 100px);
        align-items: center;
    }
}

/* Panel y Panel Grid */

.ui-panel-color {
    background: #EBEBEB;
    border: none;
}

/* Buttons */

.ui-button, 
button.ui-button.ui-state-default, 
.ui-button.ui-state-default.plain-button {
    margin-left: 3px;
    margin-right: 3px;
}

.ui-button-text-only .ui-button-text {
    padding: .5em 1em;
}

/* Fields */

.ui-inputfield {
    max-width: 100%;
}