<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body>
    <ui:composition template="/WEB-INF/facelets/template.xhtml">
        <ui:define name="body">
            <f:view>
                <h1>Artículos</h1>

                <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                <p:dialog
                    modal="true" widgetVar="statusDialog" header="Cargando..." draggable="false"
                    closable="false">
                    <p:graphicImage value="#{generalVista.url}/images/ajaxloadingbar.gif" />
                </p:dialog>

                <h:form id="formArticulos">
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton
                            value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                        <p:commandButton
                            value="No" type="button" styleClass="ui-confirmdialog-no" />
                    </p:confirmDialog>

                    <p:growl id="mensaje" showDetail="true" sticky="false" />
                    <p:panel id="panelArticulos" styleClass="ui-panel-color">
                        <p:panelGrid
                            styleClass="ui-panelgrid-blank" columns="4" layout="grid"
                            columnClasses="ui-g-12 ui-col-lab, ui-g-12 ui-col-4c, ui-g-12 ui-col-lab,
                                ui-g-12 ui-col-4c">
                            <h:outputText id="labCodigo" value="Código" />
                            <p:inputText
                                id="codigo" maxlength="5" style="width: 50px"
                                binding="#{articulosVista.codigo}">
                                <p:keyFilter mask="num" />
                                <p:ajax
                                    listener="#{articulosVista.codigoOnChange}"
                                    update="formArticulos" event="change" />
                            </p:inputText>
                            
                            <h:outputText id="labNombre" value="Nombre" />
                            <p:inputText
                                id="nombre" maxlength="60" style="width:150px"
                                binding="#{articulosVista.nombre}" />
                            
                            <h:outputText id="labProveedor" value="Proveedor" />
                            <h:panelGroup>
                                <p:inputText
                                    id="codProv" maxlength="15" style="width: 100px"
                                    binding="#{articulosVista.codProv}">
                                    <p:ajax
                                        listener="#{articulosVista.codProvOnChange}"
                                        update="codProv,nomProv" event="change" />
                                </p:inputText>
                                <p:inputText
                                    id="nomProv" readonly="true"
                                    style="width: 270px; max-width: calc(100% - 100px - 4px);"
                                    binding="#{articulosVista.nomProv}" />
                            </h:panelGroup>
                            
                            <h:outputText id="labCaracteristicas" value="Características" />
                            <p:inputTextarea
                                id="caracteristicas" style="width: 200px; height: 60px;" maxlength="100"
                                binding="#{articulosVista.caracteristicas}" />
                        </p:panelGrid>
                    </p:panel>
                    <p:panel
                        id="panelBotones" styleClass="ui-panel-color">
                        <div align="right" class="botonera">
                            <p:commandButton
                                id="btnModificar" value="Modificar" binding="#{articulosVista.modificar}"
                                action="#{articulosVista.accionModificar}" update="formArticulos" />
                            <p:commandButton
                                id="btnLimpiar" value="Limpiar" binding="#{articulosVista.limpiar}"
                                action="#{articulosVista.accionLimpiar}" update="formArticulos">
                                <p:confirm
                                    header="Confirmación"
                                    message="¿Está seguro que desea limpiar los campos?" />
                            </p:commandButton>
                            <p:commandButton
                                id="btnCancelar" value="Cancelar" binding="#{articulosVista.cancelar}"
                                action="#{articulosVista.accionCancelar}" update="formArticulos" />
                            <p:commandButton
                                id="btnEliminar" value="Eliminar" binding="#{articulosVista.eliminar}"
                                action="#{articulosVista.accionEliminar}" update="formArticulos">
                                <p:confirm
                                    header="Confirmación"
                                    message="¿Está seguro que desea eliminar el artículo?" />
                            </p:commandButton>
                            <p:commandButton
                                id="btnGuardar" value="Guardar" binding="#{articulosVista.guardar}"
                                action="#{articulosVista.accionGuardar}" update="formArticulos" />
                        </div>
                    </p:panel>
                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</h:body>
</html>
