<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body>
    <ui:composition template="/WEB-INF/facelets/template.xhtml">
        <ui:define name="body">
            <f:view>
                <h1>Clientes</h1>

                <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                <p:dialog
                    modal="true" widgetVar="statusDialog" header="Cargando..." draggable="false"
                    closable="false">
                    <p:graphicImage value="#{generalVista.url}/images/ajaxloadingbar.gif" />
                </p:dialog>

                <h:form id="formClientes">
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton
                            value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                        <p:commandButton
                            value="No" type="button" styleClass="ui-confirmdialog-no" />
                    </p:confirmDialog>

                    <p:growl id="mensaje" showDetail="true" sticky="false" />
                    <p:panel id="panelProveedores" styleClass="ui-panel-color">
                        <p:panelGrid
                            styleClass="ui-panelgrid-blank" columns="4" layout="grid"
                            columnClasses="ui-g-12 ui-col-lab, ui-g-12 ui-col-4c, ui-g-12 ui-col-lab,
                                ui-g-12 ui-col-4c">
                            <h:outputText id="labCodigo" value="Código" />
                            <p:inputText
                                id="codigo" maxlength="15" style="width: 115px"
                                binding="#{clientesVista.codigo}">
                                <p:keyFilter mask="num" />
                                <p:ajax
                                    listener="#{clientesVista.codigoOnChange}"
                                    update="formClientes" event="change" />
                            </p:inputText>
                            
                            <h:outputText id="labNombre" value="Nombres" />
                            <p:inputText
                                id="nombre" maxlength="60" style="width:150px"
                                binding="#{clientesVista.nombre}" />
                            
                            <h:outputText id="labApellido1" value="Apellido 1" />
                            <p:inputText
                                id="apellido1" maxlength="30" style="width:150px"
                                binding="#{clientesVista.apellido1}" />
                            
                            <h:outputText id="labApellido2" value="Apellido 2" />
                            <p:inputText
                                id="apellido2" maxlength="30" style="width:150px"
                                binding="#{clientesVista.apellido2}" />
                            
                            <h:outputText id="labEmpresa" value="Empresa" />
                            <p:inputText
                                id="empresa" maxlength="50" style="width:150px"
                                binding="#{clientesVista.empresa}" />
                            
                            <h:outputText id="labDireccion" value="Dirección" />
                            <p:inputText
                                id="direccion" maxlength="50" style="width:150px"
                                binding="#{clientesVista.direccion}" />
                            
                            <h:outputText id="labCiudad" value="Ciudad" />
                            <p:inputText
                                id="ciudad" maxlength="30" style="width:150px"
                                binding="#{clientesVista.ciudad}" />
                            
                            <h:outputText id="labCp" value="CP" />
                            <p:inputText
                                id="cp" maxlength="10" style="width:60px" binding="#{clientesVista.cp}">
                                <p:keyFilter mask="num" />
                            </p:inputText>
                            
                            <h:outputText id="labProvincia" value="Provincia" />
                            <p:inputText
                                id="provincia" maxlength="30" style="width:150px"
                                binding="#{clientesVista.provincia}" />
                            
                            <h:outputText id="labPais" value="Pais" />
                            <p:inputText
                                id="pais" maxlength="30" style="width:150px"
                                binding="#{clientesVista.pais}" />
                        </p:panelGrid>
                    </p:panel>
                    <p:panel
                        id="panelBotones" styleClass="ui-panel-color">
                        <div align="right" class="botonera">
                            <p:commandButton
                                id="btnModificar" value="Modificar" binding="#{clientesVista.modificar}"
                                action="#{clientesVista.accionModificar}" update="formClientes" />
                            <p:commandButton
                                id="btnLimpiar" value="Limpiar" binding="#{clientesVista.limpiar}"
                                action="#{clientesVista.accionLimpiar}" update="formClientes">
                                <p:confirm
                                    header="Confirmación"
                                    message="¿Está seguro que desea limpiar los campos?" />
                            </p:commandButton>
                            <p:commandButton
                                id="btnCancelar" value="Cancelar" binding="#{clientesVista.cancelar}"
                                action="#{clientesVista.accionCancelar}" update="formClientes" />
                            <p:commandButton
                                id="btnEliminar" value="Eliminar" binding="#{clientesVista.eliminar}"
                                action="#{clientesVista.accionEliminar}" update="formClientes">
                                <p:confirm
                                    header="Confirmación"
                                    message="¿Está seguro que desea eliminar el cliente?" />
                            </p:commandButton>
                            <p:commandButton
                                id="btnGuardar" value="Guardar" binding="#{clientesVista.guardar}"
                                action="#{clientesVista.accionGuardar}" update="formClientes" />
                        </div>
                    </p:panel>
                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</h:body>
</html>
