<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body>
    <ui:composition template="/WEB-INF/facelets/template.xhtml">
        <ui:define name="body">
            <f:view>
                <h1>Facturas</h1>

                <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                <p:dialog
                    modal="true" widgetVar="statusDialog" header="Cargando..." draggable="false"
                    closable="false">
                    <p:graphicImage value="#{generalVista.url}/images/ajaxloadingbar.gif" />
                </p:dialog>

                <h:form id="formFacturas">
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton
                            value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                        <p:commandButton
                            value="No" type="button" styleClass="ui-confirmdialog-no" />
                    </p:confirmDialog>

                    <p:growl id="mensaje" showDetail="true" sticky="false" />
                    <p:panel id="panelFacturas" styleClass="ui-panel-color">
                        <p:panelGrid
                            styleClass="ui-panelgrid-blank" columns="4" layout="grid"
                            columnClasses="ui-g-12 ui-col-lab, ui-g-12 ui-col-4c, ui-g-12 ui-col-lab,
                                ui-g-12 ui-col-4c">
                            <h:outputText id="labNumero" value="Número" />
                            <p:inputText
                                id="numero" style="width: 100px" binding="#{facturasVista.numero}">
                                <p:keyFilter mask="num" />
                                <p:ajax
                                    listener="#{facturasVista.codigoOnChange}"
                                    update="formFacturas" event="change" />
                            </p:inputText>
                            
                            <h:outputText id="labFecha" value="Fecha" />
                            <p:calendar
                                id="fecha" style="display: inline-block; width: 100px" readonlyInput="true"
                                binding="#{facturasVista.fecha}" mode="popup" pattern="dd/MM/yyyy"
                                navigator="true">
                            </p:calendar>
                            
                            <h:outputText id="labCliente" value="Cliente" />
                            <h:panelGroup>
                                <p:inputText
                                    id="codClie" maxlength="15" style="width: 100px"
                                    binding="#{facturasVista.codClie}">
                                    <p:ajax
                                        listener="#{facturasVista.codClieOnChange}"
                                        update="codClie,nomClie" event="change" />
                                </p:inputText>
                                <p:inputText
                                    id="nomClie" readonly="true"
                                    style="width: 270px; max-width: calc(100% - 100px - 4px);"
                                    binding="#{facturasVista.nomClie}" />
                            </h:panelGroup>
                        </p:panelGrid>
                        
                        <p:spacer height="5" />
                        
                        <p:dataTable
                            paginator="true" value="#{facturasVista.articulos}" var="a"
                            selection="#{facturasVista.selArticulo}" selectionMode="single"
                            rowKey="#{a.detalle}" rows="10" paginatorPosition="bottom" reflow="true">
                            <p:ajax
                                event="rowSelect" listener="#{facturasVista.articulosOnRowSelect}"
                                update="formFacturas" />
                            <p:column headerText="Detalle" width="50">
                                <p:outputLabel value="#{a.detalle}" />
                            </p:column>
                            <p:column headerText="Codigo" width="80">
                                <p:outputLabel value="#{a.codArticulo}" />
                            </p:column>
                            <p:column headerText="Nombre" width="300">
                                <p:outputLabel value="#{a.nomArticulo}" />
                            </p:column>
                            <p:column headerText="Cant" width="50">
                                <p:outputLabel value="#{a.cantidad}" style="float: right;">
                                    <f:convertNumber type="number" maxFractionDigits="0" />
                                </p:outputLabel>
                            </p:column>
                            <p:column headerText="Precio Und" width="80">
                                <p:outputLabel value="#{a.precio}" style="float: right;">
                                    <f:convertNumber
                                        type="currency" currencySymbol="$" maxFractionDigits="0" />
                                </p:outputLabel>
                            </p:column>
                        </p:dataTable>
                        
                        <p:spacer height="5" />
        
                        <p:panel styleClass="ui-panel-color">
                            <div align="right">
                                <p:commandButton
                                    id="anadirArt" value="Añadir"
                                    binding="#{facturasVista.anadirArt}"
                                    action="#{facturasVista.accionAnadirArticulo}"
                                    update="formFacturas" />
                                <p:commandButton
                                    id="removerArt" value="Remover"
                                    binding="#{facturasVista.removerArt}"
                                    action="#{facturasVista.accionRemoverArticulo}"
                                    update="formFacturas">
                                    <p:confirm
                                        header="Confirmación"
                                        message="¿Está seguro que desea remover el artículo?" />
                                </p:commandButton>
                            </div>
                        </p:panel>
                        
                        <p:spacer height="5" />
                        
                        <p:panelGrid
                            styleClass="ui-panelgrid-blank" columns="4" layout="grid"
                            columnClasses="ui-g-12 ui-col-lab, ui-g-12 ui-col-4c, ui-g-12 ui-col-lab,
                                ui-g-12 ui-col-4c">
                            <h:outputText id="labDetalle" value="Detalle" />
                            <p:inputText
                                id="detalle" readonly="true" style="width: 100px"
                                binding="#{facturasVista.detalle}" />
                            
                            <h:outputText id="labArticulo" value="Artículo" />
                            <h:panelGroup>
                                <p:inputText
                                    id="codArt" maxlength="15" style="width: 100px"
                                    binding="#{facturasVista.codArt}">
                                    <p:ajax
                                        listener="#{facturasVista.codArtOnChange}"
                                        update="codArt,nomArt" event="change" />
                                </p:inputText>
                                <p:inputText
                                    id="nomArt" readonly="true"
                                    style="width: 270px; max-width: calc(100% - 100px - 4px);"
                                    binding="#{facturasVista.nomArt}" />
                            </h:panelGroup>
                            
                            <h:outputText id="labCant" value="Cantidad" />
                            <p:inputNumber
                                id="cantidad" minValue="0" immediate="true" decimalPlaces="0"
                                style="display: inline-block; width: 100px"
                                binding="#{facturasVista.cantidad}" />
                            
                            <h:outputText id="labPrecio" value="Precio Und" />
                            <p:inputNumber
                                id="precio" minValue="0" immediate="true" decimalPlaces="0"
                                thousandSeparator="." symbol="$ " symbolPosition="p"
                                style="display: inline-block; width: 100px"
                                binding="#{facturasVista.precio}" />
                        </p:panelGrid>
                    </p:panel>
                    <p:panel
                        id="panelBotones" styleClass="ui-panel-color">
                        <div align="right" class="botonera">
                            <p:commandButton
                                id="btnLimpiar" value="Limpiar" binding="#{facturasVista.limpiar}"
                                action="#{facturasVista.accionLimpiar}" update="formFacturas">
                                <p:confirm
                                    header="Confirmación"
                                    message="¿Está seguro que desea limpiar los campos?" />
                            </p:commandButton>
                            <p:commandButton
                                id="btnGuardar" value="Guardar" binding="#{facturasVista.guardar}"
                                action="#{facturasVista.accionGuardar}" update="formFacturas" />
                        </div>
                    </p:panel>
                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</h:body>
</html>
