<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</h:head>

<h:body>
    <ui:composition template="/WEB-INF/facelets/template.xhtml">
        <ui:define name="body">
            <f:view>
                <h1>Sin Venta</h1>
                
                <p>Información de artículos que no fueron vendidos en el establecimiento por mes</p>

                <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                <p:dialog
                    modal="true" widgetVar="statusDialog" header="Cargando..." draggable="false"
                    closable="false">
                    <p:graphicImage value="#{generalVista.url}/images/ajaxloadingbar.gif" />
                </p:dialog>

                <h:form id="formSinVentas">
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton
                            value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                        <p:commandButton
                            value="No" type="button" styleClass="ui-confirmdialog-no" />
                    </p:confirmDialog>

                    <p:growl id="mensaje" showDetail="true" sticky="false" />
                    <p:panel id="panelSinVentas" styleClass="ui-panel-color">
                        <p:dataTable
                            paginator="true" value="#{sinVentaVista.articulos}" var="a" rows="10"
                            paginatorPosition="bottom" reflow="true">
                            <p:column headerText="Mes" width="80" groupRow="true">
                                <p:outputLabel value="#{a.mes}" />
                            </p:column>
                            <p:column headerText="Codigo" width="80">
                                <p:outputLabel value="#{a.codArticulo}" />
                            </p:column>
                            <p:column headerText="Nombre" width="200">
                                <p:outputLabel value="#{a.nomArticulo}" />
                            </p:column>
                            <p:column headerText="Proveedor" width="200">
                                <p:outputLabel value="#{a.nomProveedor}" />
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                    <p:panel
                        id="panelBotones" styleClass="ui-panel-color">
                        <div align="right" class="botonera">
                            <p:commandButton
                                id="btnConsultar" value="Consultar" binding="#{sinVentaVista.consultar}"
                                action="#{sinVentaVista.accionConsultar}" update="formSinVentas" />
                        </div>
                    </p:panel>
                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</h:body>
</html>
